<div class="post-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-image">
        <img src="<%= "/user_images/#{@user.image_name}"%>">
      </div>
      <div class="post-user-name">
        <%= link_to(@user.name,"/users/#{@user.id}")%>
      </div>
      <p>
        <%=@post.content %>
      </p>
      <div class="posts-show-time">
        <%=@post.created_at  %>
      </div>
      <% if @post.user.id == @current_user.id %>
      <div class="posts-menus">
        <ul>
          <li>
            <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          </li>
          <li>
            <%= link_to("削除", "/posts/#{@post.id}/destroy",{method: "post"}) %>
          </li>
        </ul>
      </div>
      <% end %>
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
      <%= link_to("いいね！済み", "/likes/#{@post.id}/destroy", {method: "post"}) %>
      <% else %>
       <%= link_to("いいね！", "/likes/#{@post.id}/create", {method: "post"}) %>
      <% end %>
    </div>
  </div>
</div>
